<html>
    <body>
        <h1>Ansible Basics</h1>
        <h3>Service httpd: running</h3>
        <h3>System: {{ ansible_distribution }} </h3>
        <h3>FQDN: {{ ansible_fqdn }} </h3>
    </body>
</html>
